# 基本ライブラリ
jupyterlab
scikit-learn
matplotlib
japanize-matplotlib
seaborn
pandas
polars
numpy
scipy
pillow
#EDA
sweetviz
# 特徴量エンジニアリング
xfeat
# lightgbmでの予測モデル
lightgbm
optuna
seaborn
numpy
scipy
pillow
#深層系
tensorflow
torch
keras
#時系列分析
tslearn
#ハイパラ
scikit-optimize
#AutoML
pycaret[full] 
